$green: #51994b;
$green-light: #b3d7af;
$green-dark: #3f773a;

$brown: #593825;
$brown-light: #b3a39b;
$brown-dark: #311f14;

$blue: #007A7A;
$blue-light: #77B9B8;
$blue-dark: #004243;

$gray: #808080;
$gray-light: #C9C9C9;
$gray-dark: #4F4F4F;
