
$padding-mobile: 0px 16px;
$default-padding-top-page: 9em;
html { scroll-behavior: smooth; }
h1,h2,h3, p, a, li, address {
  font-family: "Rubik", sans-serif;
}
a {text-decoration: none; color: black;}
body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background-color: #F6F4EE;
}
article {
  padding-top: 9em;
}
section:nth-of-type(even) {
  background-color: white;
}
#main_content {
  min-height: 100vh;
  //margin-top: 6em;
  //border: solid 1px;
  //padding: 2em;
  //background-color: red;
}
.inside {
  width: 100%;
  margin: auto;
  max-width: 1440px;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
section {
  padding: 80px 0;
}
.green-background {
  background-color: $green;
  a,h1,h2,h3,h4 {color:white;}
}
section:first-of-type {padding: 60px 0;}

@media only screen and (max-width: 40em) {
  section:first-of-type {
    padding-top: 0;
  }
}
