
$padding-mobile: 0px 16px;
$default-padding-top-page: 9em;
html { scroll-behavior: smooth; }
h1,h2,h3, p, a, li, address {
  font-family: "Rubik", sans-serif;
}
h1 {font-weight: 500;}
a {text-decoration: none; color: black;}
body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background-color: #F6F4EE;
}
article {
  padding-top: 9em;
}
section:nth-of-type(even) {
  background-color: white;
}
#main_content {
  min-height: 100vh;
  //margin-top: 6em;
  //border: solid 1px;
  //padding: 2em;
  //background-color: red;
}
.inside {
  width: 100%;
  margin: auto;
  max-width: 1440px;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
section {
  padding: 80px 0;
}
.green-background {
  background-color: $green;
  a,h1,h2,h3,h4 {color:white;}
}
section:first-of-type {padding: 60px 0;}

.page_custom {
  display: grid;
  grid-template-areas:
  "header"
  "filtre"
  "actifs"
  "description"
  ;
}
.page_custom_header {
  grid-area:header;
  height: 18em;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding-top: 6em;
}
.page_custom_header_text{
  h1 {font-size: 3em; color: white; font-weight: 500;}
  p{color: white;}
}
.page_custom_text_presentation {

}

@media only screen and (max-width: 40em) {
  section:first-of-type {
    padding-top: 0;
  }
  .page_custom {
    padding-top: 4em;
  }
  .page_custom_header {
    padding: 15px;
  }
  .pages_custom_header_text {
    background: linear-gradient(180deg, rgba(81, 153, 75, 2e-05) 52.55%, rgba(81, 153, 75, 0.08) 100%), #FFFFFF;
    padding: 1.5em 1em;
    h1 {margin: 0; color: black !important;}
    p {
    }
  }
}
