
.inside {
  max-width: 1088px;
}
h1,h2,h3, p, a, li, address {
  font-family: "Rubik", sans-serif;
}
a {text-decoration: none; color: black;}
body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
}
#main_content {
  min-height: 100vh;
  border: solid 1px;
  //padding: 2em;
  //background-color: red;
}
