#actif_header {
  padding-top: 6em;
}
.actif_show {
  display: grid;
  grid-template-columns: 32% 66%;
  justify-content: space-between;
  .actif_description {
    padding: 0 3em;
    .actif_titre {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      color: #292929;
      margin: 0;
      line-height: 40px;
    }
  }

  .actif_text_head {
    margin-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    color: rgba(0, 0, 0, 0.64);
    margin-bottom: 40px;

  }
  .actifs_photos,.accordions_list {}
  .accordions_list {}
  .actifs_photos {
    gap: 8px;
    .first_actif_photo,.second_actifs_photo {width: 100%; display: flex;background-color: #EBEBEB;}
    .first_actif_photo {
      aspect-ratio: 1 / 1;
      width: auto;
      margin-bottom: 8px;
      //display: flex;
      img {width: 100%;object-fit: cover;border-radius: 4px;}
    }
    .second_actif_photo,.actif_labels {
      //aspect-ratio: 1 / 1;
      //height: 240px;
      display: flex;
      //gap: 8px;
      //width: 100%;
      gap: 8px;
      div {
        width: 100%;
        display: flex;
        //height: fit-content;
        aspect-ratio: 1 / 1;
        height: 100%;
        img {aspect-ratio: 1 / 1;width: 100%;object-fit: cover;border-radius: 4px;}
      }
    }
    .second_actif_photo {
      margin-bottom: 8px;
      contain: content;
    }
    .actif_labels {
      display: grid;
      grid-template-columns: repeat(5,1fr);
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 8em;
      div {
        display: flex; height: fit-content;width: 100%;
        img {aspect-ratio: 1 / 1;}
      }
    }
  }
}
.actif_ctas {
  margin-top: 2em;
  .flex {gap: 2em;}
}
.carousel_actifs {
  //display: flex;
  --largeurA: calc(100% - 1440px);
  margin-left: calc(var(--largeurA) / 2);
}
.carousel_points {
  display: flex;
  gap: 16px;
  margin: auto;
  justify-content: center;
  border: solid 1px;
  height: 4em;
  align-items: center;
  .carousel_point {
    width:8px;
    height: 1px;
    color: grey;
    background-color: grey;
    display: flex;
    border: solid 1px;
    border-radius: 10px;
    &.active {
      width: 160px;
      color: $green;
      background-color: $green;
      //animation: 3s linear 1s infinite running slidein;
    }
  }
}
.list_cards_actif {
  list-style: none;
  flex-wrap: nowrap;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  gap: 32px;
}
.card_carousel {
  width: 25%;
  min-width: 296px;
  border: solid 1px;
  height: 300px;
  border-radius: 4px;
  height: 436px;
  display: flex;
  flex-direction: column;
  //max-height: 436px;
  //height: 100%;
  a {height: 100%;
    display: flex;
    flex-direction: column;
  }
  .card_carousel_img {
    min-height: 296px;
    width: 100%;
    display: flex;
    //border: solid 1px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .card_carousel_description {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    gap: 8px;
    background-color: $card-grey;
    height: 100%;
    .card_actif_titre {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
    }
    .card_actif_text {
      font-style: normal;
      font-weight: 400;
      font-size: 0.9em;
    }
  }
}
.carousel-actifs-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .control-carousel {
    display: flex;
    gap: 16px;
  }
}

.properties_actif {
  display: flex;
  gap: 8px;
}
.actif_property {
  background: $background-property;
  padding: 4px 8px;
  font-weight: 400;
  font-style: normal;
  color: #292929;
  display: flex;
  width: fit-content;
  font-size: 0.8em;
  border-radius: 2px;
  font-family: $base-font;
  text-transform: capitalize;
}

@media only screen and (max-width: 40em) {
  .actif_show {
    grid-template-columns: 1fr;
    .actifs_photos,.actif_description {
      padding: $padding-mobile;
      box-sizing: border-box;
    }
  }
  .carousel_actifs {margin: 0;}
  .carousel-actifs-control {
    padding: $padding-mobile;
      box-sizing: border-box;
  }
  .list_cards_actif {
    padding: $padding-mobile;
  }
}
