.page_custom_header.contact_us {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('banners/contact-banner.jpeg');
  background-position: center;
}
#contact_main {
  border: solid 1px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 32px;
  height: 100%;
  .contacts_livraison {
    width: 100%;
    border: solid 1px red;
  }
}

.contacts_livraison {
  h2,h3 {
    font-size: normal;
    font-size: 1em;
    line-height: 24px;
    font-weight: 500;
  }
  a {
    color:$green;
    text-decoration: underline;
    white-space:nowrap;
  }
  hr {margin:0;}
}
.contacts {

}
.livraison {

}
.map_contact {
  width: 100%;
  display: flex;
  max-width: 100%;
  img {
    display: flex;
    width: inherit;}
}
.contact_form{
  min-height: 20px;
  border: solid 1px;
  width: 100%;
}
.contact_address_call {
  h3 {}
}
.contact_titre {
  border-bottom: solid 3px $blue;
  padding: 8px;
  box-sizing: content-box;
}
.contact_titre_icon {
  display: grid;
  grid-template-columns: 32px auto;
  & > div {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.list_tels {
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  padding: 8px;
  li {
    font-weight: 400;
    font-style: normal;
    font-size: 0.85em;
    line-height: 20px;
    color: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
