.landing_header_content.prestation {
  max-width: 1044px !important;
  //gap:0 !important;
  color:red;
  //flex-direction: column;
  h1 {
    margin-top: 0;
  }
}

.prestation_show {
  h2 {
    color: $green-dark;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    border-left: 3px solid black;
    padding-left: 8px;
    margin-bottom: 16px;
    //margin-top: 40px;
  }
  h2#0 {
    margin-top: 0 !important;
  }


  h3 {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  h3::marker {
    display: list-item;
    content: "@" counter(h2) " ";
    color: lightgreen;
  }
}
