<div id="landing_header">
  <div id="landing_header_content">
      <h1>Blog</h1>
  </div>
</div>
<div id="landing_main_content" data-controller="blog">

  <div class="">
    <!--
    <div class="card_prestation_displayed">
      <div class="card_prestation_text">
        <h3>Vous recherchez à doser certaines substances ou molécules dans diverses matrices de plante ?</h3>
        <p>Nos experts sont capables d'identifier une large diversité de familles de molécules via de nombreuses méthodes de dosages complexes pour identifier et quantifier les composés actifs des plantes, pour les valoriser ou réduire les risques associés</p>
        <%= link_to "En savoir plus", "",class:"btn_contact"%>
      </div>
      <div class="card_prestation_cover">
        <%= image_tag "" %>
      </div>
    </div>
    -->
  </div>
</div>
