<article id="blog_article">
  <div id="post_header">
    <div id="post_header_intro">
      <div>
        <h1><%= @article.titre %></h1>
        <p><%= @article.intro %></p>
      </div>
    </div>
  </div>
  <div id="blog_article" class="inside">
    <div class="blog_article_content">
      <%= @article.content %>
    </div>
  </div>
</article>
