<article id="blog_article">
  <div id="post_header">
    <div id="post_header_intro">
      <div>
        <h1><%= @article.titre %></h1>
        <p><%= @article.intro %></p>
      </div>
    </div>
  </div>
  <div id="blog_article" class="inside">
    <section class="article_cover">
      <p>img</p>
    </section>
    <div class="blog_article_content">
      <section class="blog_article_main_content">
        <%= @article.content %>
      </section>
      <nav class="article_table_matieres">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </nav>
    </div>
  </div>
</article>
