<div id="footer">
  <footer>
    <div>
      <p>Phytodia</p>
      <address>Par d'innovation de Strasbourg<br>
      300 boulevard Sébastien Brandt<br>
      67412 Illkirch
      </address>
      <p>03 68 85 ...</p>
      <p>Nous contacter</p>
    </div>
    <div>
      <a href="#">Télécharger la brochure</a>
      <a href="#">Questions Fréquentes</a>
      <a href="#">Lexique (définitions)</a>
      <a href="#">Recrutement</a>
    </div>
    <div>
      <h1>Column 3</h1>
    </div>
    <div>
      <h1>Column 4</h1>
    </div>
  </footer>
</div>
