<div id="navbar_2">
  <nav>
  <ul>
    <div>
      <li>Logo</li>
      <li class="dropdown_nav">
        <a href="#">Laboratoire des plantes</a>
        <div class="mega_menu">
          <div class="container_menu">
            <p>verver</p>
          </div>
        </div>
      </li>
      <li><a href="#">Analyse</a></li>
      <li><a href="#">Laboratoire cosmétologie</a></li>
      <li><a href="#">Nos actifs</a></li>
    </div>
    <div>
      <li>A propos</li>
      <li>Blog</li>
      <li>Nous contacter</li>
      <div>
        <p>Langues</p>
      </div>
    </div>
  </ul>
  </nav>
</div>
