<nav id="navmobile">
    <div id="logo_nav">
        <%= image_tag "logo-feuille.svg"%>
        <%= image_tag "logo-text.svg"%>
    </div>
    <div id="burger_icon">
      <span>ff</span>
    </div>
    <ul id="mobile_menu_links">
      <li>Laboratoire des plantes</li>
      <li>Analyse, Recherche & Développement</li>
      <li>Laboratoire Cosmétologie</li>
      <li>Nos actifs et produits</li>
      <hr>
      <li>A propos</li>
      <li>Blog</li>
      <li>Nous contacter</li>
    </ul>
    <div>
      FR|EN
    </div>
</nav>
