<aside class="your_project">
  <div class="blur">
    <div class="blur_text">
      <h2>Parlez-nous de votre projet</h2>
      <p>Faites confiance à notre savoir-faire pour transformer vos projets en succès</p>
    </div>
    <div>
      <a href="#" class="btn_contact white">Prenez contact</a>
    </div>
  </div>
</aside>
