<article class="page_custom">
  <div class="page_custom_header contact_us">
    <div class="inside page_custom_header_text">
      <h1 class=""><%= t("contact.contact_titre")%></h1>
      <p class="page_custom_text_presentation"><%= t("contact.contact_accroche")%>
      </p>
    </div>
  </div>

  <div class="">
  </div>
</article>
