<div id="landing_header">
  <div id="landing_header_content">
    <%= image_tag "fiole-verte-labo.svg" %>
    <div>
      <h1>Laboratoire des plantes</h1>
      <p>Notre laboratoire des plantes propose une expertise complète pour valoriser les substances naturelles et molécules végétales, marines ou fongiques. Nous réalisons des analyses moléculaires, des extractions sur mesure et une caractérisation approfondie d'extraits.</p>
    </div>
  </div>
</div>
<div id="landing_main_content">
  <ol class="prestations_list">
    <li class="prestation_item">
      Analyse molécules végétales
    </li>
    <li class="prestation_item">
      Mise en conformité règlementaire
    </li>
    <li class="prestation_item">
    </li>
    <li class="prestation_item">
    </li>
    <li class="prestation_item">
    </li>
    <li class="prestation_item">
    </li>
  </ol>
</div>
