<div id="landing_header">
  <div id="landing_header_content">
    <%= image_tag "fiole-verte-labo.svg" %>
    <div>
      <h1>Laboratoire des plantes</h1>
      <p>Notre laboratoire des plantes propose une expertise complète pour valoriser les substances naturelles et molécules végétales, marines ou fongiques. Nous réalisons des analyses moléculaires, des extractions sur mesure et une caractérisation approfondie d'extraits.</p>
    </div>
  </div>
</div>
<div id="landing_main_content">
  <ul class="prestations_list">
    <% @prestations.each_with_index do |prestation, index| %>
      <li class="prestation_item">
        <span class="circle"><%= index + 1 %></span> <%= prestation %>
      </li>
    <% end %>
  </ul>
</div>
