.btn_contact{
  background-color: $green;
  color: white;
  padding: 12px 16px;
  border-radius: 25px;
  display: inline-block;
  text-transform: uppercase;
  &.white {
    background-color: white;
    color: black;
    font-size: 0.8em;
  }
}
.your_project {
  width: 100%;
  max-width: 1044px;
  height: 244px;
  background-image: url("champ.jpeg");
  background-position: -17px 990px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  .blur {
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    color: white;
    backdrop-filter: blur(8px);
    width: fit-content;
    padding: 32px;
    column-gap: 4em;
    flex-wrap: wrap;
    max-width: 75%;
    div{
      filter: blur(0px);
    }
    .blur_text {
      display: flex;
      flex-direction: column;
      gap: 4px;
      h2 {
        font-weight: 500;
      }

    }
  }
}
.btn_devis {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 16px;

width: 304px;
min-width: 304px;
height: 64px;
min-height: 64px;

background: #51994B;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

color:white;
font-family: 'Rubik';
font-weight: 500;
font-size: 16px;
letter-spacing: 1px;
}
.btn_download {
  /* Outline-Icon-Text
Outline buttons
*/
box-sizing: border-box;

text-transform: uppercase;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 304px;
min-width: 304px;
height: 40px;

border: 1px solid #292929;
border-radius: 2048px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 12px;
letter-spacing: 1px;
&:hover {
  border: solid 2px;
}
}


.actif_property,.tag_grey, .tag_cat {
  background: $background-property;
  padding: 4px 8px;
  font-weight: 400;
  font-style: normal;
  color: #292929;
  display: flex;
  width: fit-content;
  font-size: 0.8em;
  border-radius: 2px;
  font-family: $base-font;
  text-transform: capitalize;
}

.aside_cta {
  padding: 80px 0;
}

.tag_filter {
  padding: 10px 16px;
  box-sizing: border-box;
  border: solid 1px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 0.9em;
  background-color: transparent;
  //line-height: 20px;
  &.active {
    background-color: $green;
    border: $green;
    color: white;
  }
  &:hover {}
}
