#navmobile {
  border: solid 1px;
  position: fixed;
  top: 0;
  //height: 100vh;
  background-color: white;
  width: 100%;
}
#header_mobile {
  border: solid 2px red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}
#mobile_menu_links{
  background-color: grey;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 2em 1em;
  li {
    border: solid 1px;
    a {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      //align-items: center;
    }
  }
  .btn_contact {justify-content: center;}
  hr {margin-top: 2em;}
}
.hamburger {
  background-color: $green;
  //padding: 18px 14px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.hamburger .line{
  width: 15px;
  height: 2px;
  background-color: white;
  display: block;
  border-radius: 3px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0;
}
.hamburger .line:first-of-type {
  margin-top: 0;
}
.hamburger .line:last-of-type {
  margin-bottom: 0;
}
.hamburger:hover{
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  -o-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}
