#navmobile {
  border: solid 1px;
  position: fixed;
  top: 0;
  //height: 100vh;
  background-color: white;
  width: 100%;
}
#header_mobile {
  border: solid 2px red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}
#mobile_menu_links{
  background-color: grey;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 2em 1em;
  li {
    border: solid 1px;
    a {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      //align-items: center;
    }
  }
  .btn_contact {justify-content: center;}
  hr {margin-top: 2em;}
}
