#navmobile {
  border: solid 1px;
  position: fixed;
  top: 0;
  //height: 100vh;
  background-color: white;
  width: 100%;
}
#mobile_menu_links{
  background-color: red;
  height: 100vh;
  margin: 0;
  padding: 0;
}
