a {text-decoration: none;}

#navbar {
.container, .container_grid {
  border: solid 1px;
	margin: auto;
  //width: 100%;
	max-width: 1440px;
}

ul {
	padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
	list-style: none;
}

nav > div {
	//background: #0ca0d6;
	font-size: 0;
	position: relative;
  display: flex;
  //max-width: 1440px;
  //width: 100%;
}

nav > div > ul > li {
	display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  position: relative;
}

nav > div > ul > li > a {
	//color: #fff;
  	display: block;
  	padding: 20px 0;
  	border-bottom: 3px solid transparent;
    transition: all .3s ease;
}
nav > ul > li:hover > a {
	color: #444;
  	border-bottom: 3px solid #444;
}

.mega-menu {
	background: #eee;
  	visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  	position: absolute;
  	left: 0;
  	width: 100%;
    padding-bottom: 20px;
}
.mega-menu h3 {color: #444;}

.mega-menu .container {
    display: flex;
}
.mega-menu .container_grid {
  display: grid;
}
.mega-menu .item {
	flex-grow: 1;
    margin: 0 10px;
}
.mega-menu .item img {
    width: 100%;
}
.mega-menu a {
	border-bottom: 1px solid #ddd;
  	color: #4ea3d8;
  	display: block;
  	padding: 10px 0;
}
.mega-menu a:hover {color: #2d6a91;}


.dropdown {position: static;}

  .dropdown:hover .mega-menu {
    visibility: visible;
    opacity: 1;
  }
}


#navbar_2 {
  border: solid 1px;
  li, p, h2, h3 {margin: 0;}
  li {
    a {display: flex; align-items: end;
      gap: 8px;
      padding: 14px 16px;
    }
  }
  nav {
    border: solid 1px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: space-between;
      position: relative;
      & > div {display: flex; align-items: flex-end;}
    }
    li {height: fit-content;}
  }
  #logo_nav {
    margin-right: 24px;
    padding: 14px 0;
  }
}
.dropdown_nav {
  .mega_menu {
    background-color: white;
    border-radius: 0 0 50px 50px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  	position: absolute;
  	left: 0;
  	width: 100%;
    min-height: 200px;
    height: auto;
    border: solid 1px;

    .container_menu {
      //border: solid 1px;
      padding: 40px 64px;
      height: 100%;
      display: grid;
      grid-template-areas:
      "intro intro intro"
      "links links links"
      ;
      row-gap: 34px;
    }
    .intro_menu {
      grid-area: intro;
      display: flex;
      gap: 28px;
      .intro_menu_img {
        img {}
      }
      .intro_menu_text {

      }
    }
    .links_menu {
      grid-area: links;
      .grid_links {
        display: grid !important;
        grid-template-columns: repeat(3,1fr) !important;
      }
    }
  }
}
.dropdown_nav:hover .mega_menu {
  visibility: visible;
  opacity: 1;
}
